<!DOCTYPE html>
<html lang="en">
    <head>
        <body>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title><%=pageTitle%></title>
            <form action="/find" method="POST">
                <h1>Find a book or magazine by its ISBN.</h1>
                
                    <p>
                        <div>
                            <label for="book"><h1>Find Book :</h1></label>
                            <input type="text" id="book" name="Find_Book" placeholder="Enter Book ISBN here">
                            <button type="submit"value="SubmitBook">Find Book</button>
                        </div>
                    <p>
                    <div>
                        <label for="magazine"><h1>Find Magazine :</h1></label>
                        <input type="text" id="magazine" name="Find_Magazine" placeholder="Enter Magazine ISBN here">
                        <button type="submit"value="SubmitMagazine" >Find Magazine</button>
                    </div>
                    <p>
                    <div>
                        <p>
                            <p>

                                <p>

                                        <h2>Find all books and magazines by their authors email.</h2>
                                        <input  type="email" id="email" name="email" placeholder="Enter Author's email">
                                        <button type="submit" value="all">Find</button>
                    </div>

                
            </form>
        </body>
    </head>
</html>