<!DOCTYPE html>
<html lang="en">
    <head>
        <body>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title><%=pageTitle%></title>
                <p>
                    Thanks Submitted : The addedData.cvs file ins stored in model folder
                </p>
                
            </form>
        </body>
    </head>
</html>